image: "gitlab-registry.cern.ch/fitters/xfitter"

#cache:
#  paths:
#    - deps

#stages:
#  - build-minimal
#  - build-full

before_script:
  - yum -y install yum-plugin-ovl which yaml-cpp-devel libyaml-devel gsl-devel cmake

job-install-minimal:
#  stage: build-minimal
  only: 
    - merge_requests
    - schedules
  script: 
    - ./make.sh install
  variables:
    CMAKE_FLAGS: "-DCMAKE_DISABLE_FIND_PACKAGE_ROOT=TRUE" 

job-install-full:
#  stage: build-full
  only: 
    - merge_requests
    - schedules
#  cache: {}
  timeout: 120m
  script: 
    - yum -y install gcc-gfortran git tar root libgfortran-static
    - ./tools/install-xfitter deps
    - . setup.sh
    # for the next command the output is redirected, to see it (in case of problems) uncomment the command below which will print it
    - ./tools/download-lhapdf.sh HERAPDF20_NNLO_EIG HERAPDF20_NNLO_VAR CT10 CT10nlo CT14nnlo ABMP16_3_nlo ABMP16_5_nnlo HERAPDF20_NLO_FF3B_EIG NNPDF30_nlo_as_0118 NNPDF31_nlo_as_0118_hessian NNPDF31_nnlo_as_0118 MMHT2014nnlo68cl nCTEQ15FullNuc_1_1 nCTEQ15FullNuc_184_74 >& download-lhapdf.log
    - cat *.log
    - ./make.sh install
    - git clone https://gitlab.cern.ch/fitters/xfitter-datafiles.git temp-datafiles
    - mv temp-datafiles/.git datafiles/.git
    - rm -rf temp-datafiles
    - cd datafiles
    - git reset --hard HEAD
    - cd -
    - ./tools/test.sh
    - cat temp/HATHOR-cbt/test.log
    - cat temp/chi2scanMTOP/test.log
  artifacts:
    when: on_failure
    paths:
      - temp/chi2scanMTOP/
      - temp/HATHOR-cbt/
      - temp/HATHOR-cbt/test.log
      - temp/chi2scanMTOP/test.log
      - temp/**/test.log
    expire_in: 1 day

#nightly_devel:
#  stage: nightly
#  script:
#    - ./scripts/test-build.sh
#    - ./scripts/test-build.sh apfel applgrid lhapdf
#  only:
#    - devel
#    - triggers
