*~
*.o
*.lo
*.a
*.la
.deps/
.libs/
Makefile.in
Makefile
bin/
src/xfitter
tools/MakeLHAPDF/tolhapdf
tools/draw/src/xfitter-draw
tools/process/xfitter-process
pdf2yaml/tests
xfitter-config
lib/
share/
include/xfitter
aclocal.m4
autom4te.cache/
*.m4
config.guess
config.log
config.status
config.sub
configure
compile
depcomp
missing
install-sh
libtool
ltmain.sh
